/* /team */

.franklin-content .team-member {
  margin: 1em 0;
}

.franklin-content .team-member img {
  width: 20%;
  padding-left: 0;
  border-radius: 1em;
}

.franklin-content .team-member .team-member-name {
  font-weight: bold;
}