project:
  type: website
  preview:
    # Change port if it's busy in your system or just comment below line so that It will automatically use any free port
    port: 4200
    browser: true

# These cannot be used as variables. They are reserved for the project configuration.
website:
  title: "Turing.jl"
  site-url: https://turinglang.org
  description: "Turing.jl is a probabilistic programming language and Bayesian modelling framework for the Julia programming language."
  image: /assets/logo/turing-text-logo.jpg
  favicon: /assets/favicon.ico
  open-graph:
    title: "The Turing Language"
    locale: en_GB
    image: /assets/logo/turing-text-logo.jpg
    image-alt: "Turing.jl Logo"
  twitter-card:
    creator: "@Hong_Ge2"
    site: "@TuringLang"
    image-width: 4214
    image-height: 1032
  search:
    location: navbar
    type: overlay
  navbar:
    title: false
    # logo-href: https://turinglang.org/ -- Keep this commented so clicking on logo in dev mode doesn't redirect to the site
    left:
      - text: Get Started
        href: https://turinglang.org/docs/getting-started/
      - text: Tutorials
        href: https://turinglang.org/docs/tutorials/
      - text: FAQ
        href: https://turinglang.org/docs/faq/
      - text: Libraries
        href: library/
      - text: News
        href: news/
      - text: Team
        href: team/
    tools:
      - icon: twitter-x
        text: Turing Twitter
        href: https://x.com/TuringLang
      - icon: chat-dots
        text: Turing Discourse
        href: https://discourse.julialang.org/c/domain/probprog/48
      - icon: slack
        text: Turing Slack
        href: https://julialang.slack.com/archives/CCYDC34A0
      - icon: github
        text: Turing GitHub
        href: https://github.com/TuringLang

  back-to-top-navigation: true
  repo-url: https://github.com/TuringLang/turinglang.github.io/
  # repo-actions: [edit, issue]
  repo-link-target: _blank
  page-navigation: true

format:
  html:
    theme:
      light: [cosmo, theming/theme-light.scss]
      dark: [cosmo, theming/theme-dark.scss]
    highlight-style: github
    toc: true
    smooth-scroll: true
    code-overflow: wrap
    output-block-background: true
    include-in-header:
      - text: |
          <script type="application/ld+json">
          {
            "@context" : "https://schema.org",
            "@type" : "WebSite",
            "name" : "Turing.jl",
            "alternateName": "The Turing Language",
            "url" : "https://turinglang.org/",
          }
          </script>
    include-after-body:
      file: _includes/footer.html

# Global Variables to use in any qmd files using:
# {{< meta site-url >}}
site-url: https://turinglang.org
get-started: https://turinglang.org/docs/getting-started/
tutorials-intro: https://turinglang.org/docs/tutorials/
