$dark-green: #073c44;
$light-blue: darken(#EDF4F4, 5%);
$medium-grey: #CCD1D5;

$color-primary: $light-blue; // not sure about this one
$color-secondary: $dark-green;
$color-highlight: darken($color-secondary, 5%);

$color-mute-bg: $gray-800;

$body-color: white;
$body-bg: #201F24;
$light-bg: #201F24;
$light-bg-offset: $color-secondary;
$color-fg: white;

$link-color: lighten($dark-green, 15%);
