$teal: #4db6ac;
$green: #229954;

// This is very similar to the "normal" teal. Can we collapse those into the same?
$teal-license: #34b8bf;

$links: $teal-license;
$links-hover: lighten($links, 10%);

$box-shadow-color: rgba(0, 0, 0, 0.06);

$code-block-bg: $gray-100;

$panel-bg: $white;

$background-body: $gray-100;

$text-color: $gray-700;
$text-muted: $gray-600;

$btn-border-color: $gray-200;
$body-bg: $background-body;
$navbar-bg: $white;
$navbar-color: $text-muted;

$deprecated-fg: #721c24;
$deprecated-bg: #f8d7da;

$form-select-bg-image: null;