$dark-green: #073c44;
$light-blue: #EDF4F4;
$medium-grey: #CCD1D5;
$color-fg: black;

$color-primary: $dark-green;
$color-secondary: darken($light-blue, 20%);
$color-highlight: lighten($color-secondary, 10%);

$color-mute-bg: $gray-200;

$light-bg: white;
$light-bg-offset: $color-secondary;

$link-color: lighten($dark-green, 15%);
