nav#multi-page-nav {
  background-color: #073c44
}

button#multi-page-nav .dropdown-label {
  color: #ccc;
  text-transform: inherit;
}

#multi-page-nav a.nav-link {
  color: #ccc;
  text-transform: inherit;
}

#multi-page-nav .search #search-input {
    border: 1px solid #666;
    border-radius: 3.2px;
    /* color: #999; */
    background-color: unset;
    height: 28px;
    font-family: inherit;
    width: 20em;
    font-size: 14px;
    padding: 0 8px;
}
