.sourceCode {
    background-color: $color-mute-bg !important;
    border-color: $color-mute-bg !important;
    border-radius: $border-radius-sm !important;

    pre {
        padding: 0.5rem !important;
    }
}