.button {
    @include button($border-hover)
}

.card {
    @include card($border-hover)
}

.example-code {
    flex: 0 1 45%;
    
    @media screen and (max-width: 992px) {
        flex: 0 1 100%;
    }
}

.example-text {
    flex: 0 1 53%;
    
    @media screen and (max-width: 992px) {
        flex: 0 1 100%;
    }
}

.pseudolisting {
    @extend .card;
    @extend .quarto-grid-item;
    text-decoration: none;
}
