.navbar {
    background-color: $body-bg;
    color: $text-muted;

    a:hover {
        text-decoration: none !important;
    }

    .nav-link {
        color: $text-muted;
        &:hover {
            color: $link-color !important;
        }
    }

    .navbar-brand {
        color: $text-muted;
        &:hover {
            color: $link-color !important;
            transition: color 0.15s ease-in-out !important;
        }
    }
}

.nav-footer {
    a {
        text-decoration: underline !important;
    }
}
