.listing-category {
    background-color: $btn-border-color !important;
    border-color: darken($btn-border-color, 5%) !important;
    color: $text-muted !important;
    margin-top: 0.25rem !important;
}
