.panel {
    border-radius: $border-radius-sm;
    padding: 1rem;
    min-height: 150px;
    min-width: 300px;
    max-width: 31%;

    color: $color-fg !important;
    background-color: $color-mute-bg !important;
    border: solid $color-mute-bg 0px !important;

    .panel-title {
        color: $color-fg !important;
        margin-bottom: 0.5rem !important;
        font-size: x-large;
        font-weight: 700;
    }

    &--nopad {
        @extend .panel;
        padding: 0rem;
    }
}
