.thumbnail {
    max-width: 0;
}

.metadata {
    max-width: 150px;
}

.quarto-post {
    max-height:fit-content;
}

/* @media (max-width: 768px) {
    .quarto-post {
        max-height: 200px;
    }
}

@media (max-width: 566px) {
    .quarto-post {
        max-height: 240px;
    }
}

@media (max-width: 512px) and (min-width: 310px) {
    .quarto-post {
        max-height: 260px;
    }
}

@media (max-width: 310px) {
    .quarto-post {
        max-height: 300px;
    }
} */