/*-- scss:defaults --*/

$navbar-bg: #192222;
$navbar-fg: #1bb3ac;
$footer-bg: #192222;
$footer-fg: #1bb3ac;
$body-color: #fff;
$body-bg: #131818;

a {
    color: #2aa198 !important;
}

a:hover {
    color: #31dce6 !important;
}

code {
    background-color: #172424 !important;
}

.menu-text:hover {   
    color: #31dce6 !important;
}

.quarto-title-banner {
    background-color: #073c44 !important;
}

.title {
    color: #ffffff !important;
}

.listing-description a {
    color: #979c9c !important;
}

p {
    color: #979c9c !important;
}

.team-member {
    background-color: #192222 !important;   
}

.level4 {
    color: #1bb3ac !important;
}
