/*-- scss:defaults --*/

@import "variables/grays";
@import "variables/colors-dark";
@import "variables/borders";

/*-- scss:rules --*/
@import "rules/layouts";
@import "rules/news";
@import "rules/team";
@import "rules/footer";
@import "rules/citations";
@import "rules/library";
@import "rules/search";
@import "rules/forms";
@import "rules/quarto-tweaks";
@import "rules/responsive";
@import "rules/hoverables-dark";

.hero-logo-light {
    display: none;
}

.hero-logo-dark {
    display: block;
}

.custom-footer .brands-light-mode-logo {
    display: none !important;
}

.custom-footer .brands-dark-mode-logo {
    display: inline !important;
}
