/*-- scss:defaults --*/
// Base document colors
$navbar-bg: #222222;
$navbar-fg: white;
$sidebar-fg: white;
$footer-fg: white;
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-bg: #2b2b2b;
$code-fg: white;
$output-bg: #2b2b2b;
$code-block-bg-alpha: -.8;